<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DateTimeExtension" version="1.0.0" targetFramework="net48" />
  <package id="GUSH.Utils.DateTimeToolKit" version="1.2.1" targetFramework="net48" />
  <package id="GUSH.Utils.WinFormsToolKit" version="1.0.0" targetFramework="net48" />
</packages>